/* GENERAL */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  /* background: linear-gradient(to right bottom, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0)); */
  background-color: #111827;
  height: fit-content;
  box-sizing: border-box;
}

.titulo-principal{
  text-align: center;
  color:#DBBBF5;
  padding:12px;
}

::-webkit-scrollbar{
  width: 14px;
}

::-webkit-scrollbar-thumb{
  background-color:rgb(165, 165, 165);
}

/* Creación de tarea */

textarea{
  resize: none;
}

.creacion_tarea{
  width: 100%;
  display:grid;
  grid-template-columns: minmax(200px,400px);
  grid-template-rows: repeat(4, minmax(20px,45px));
  justify-content: center;
  gap:14px;
  padding:12px;
  background: transparent;
}

.form{
  display:grid;
  grid-template-columns: minmax(200px,400px) minmax(30px,50px);
  grid-template-rows: repeat(3, minmax(10px,25px));
  justify-content: center;
  gap:14px;
}

#input0, #input1{
  width: 100%;
}

#input0{
  order:0;
}

#input1{
  order:1;
  resize: none;
  overflow: hidden;
  grid-row: 2 span;
}

#input2{
  order:2;
  /* grid-row: 3 span; */
  background-color: #8A20D0;
  font-size:18px;
  color:white;
  font-weight: bold;  

  transition:box-shadow 0.5s;
  box-shadow: 0px 0px 5px #e9edc9
}

#input2:hover{
  box-shadow: 0px 0px 5px #8A20D0,
  0px 0px 10px #8A20D0,
  0px 0px 15px #8A20D0,
  0px 0px 30px #8A20D0;

}


.campo_tarea_crear{
  padding:12px;
  border-radius:8;
  border:none;
}

.campo_tarea_crear:focus{
  outline: #8A20D0 1px solid;
  box-shadow:2px 2px 6px #e9edc9;
}

/* Seccion Tareas */

.tareas{
  display:grid;
  width: 100%;
  grid-template-rows: 140px;
  grid-template-columns: 18% 70% 12%;
  align-items: center;
  background-color: transparent;
  padding:10px;
  justify-content: center;
}

.titulo_tareas{
  text-align: center;
  color:transparent;
  font-size:30px;
  background: linear-gradient(to right, #DBBBF5, #8A20D0, #DBBBF5);
  background-clip: text;
  animation:mover-colores 2s infinite ease alternate;
  background-size: 300%;
}

.contenedorPadreTotal{
  grid-column: 3 span;
  width: 100%;
  height: 100dvh;
  box-sizing: border-box;
  display:grid;
  grid-template-columns: repeat(3,minmax(190px, 1fr));
  grid-auto-rows: 250px;
  gap:16px;
  padding:16px;
  overflow-y: scroll;
  scrollbar-width: auto;
}

.contenedorPadreTotal::-webkit-scrollbar{
  width: 8px;
  height: 12px;
}

.contenedorPadreTotal::-webkit-scrollbar-thumb{
  background-color: rgb(165, 165, 165);
  border-radius: 4px;
}

.contenedorPadreTotal::-webkit-scrollbar-thumb:active{
  background-color: #79BEEE;
}

.contenedorPadreTotal::-webkit-scrollbar-track{
  background-color: white;
  border-radius: 12px;
}

.contadorTareasPendientes{  
  margin:auto;
  width: 80%;
  color:black;
  text-align: center;
  background-color: #DBBBF5;
  border-radius: 6px;
  padding:6px;
  transition:box-shadow 1s;
}

.contadorTareasPendientes:hover{
  box-shadow:0px 0px 5px #DBBBF5,
  0px 0px 10px #DBBBF5,
  0px 0px 20px #DBBBF5;
}

.buscador{
  display: flex;
  flex-direction: column;
}

.filtro{
  width: 100%;
  padding:14px;
  transition: background-color 0.5s ease;
  margin:10px 0px;
  font-weight: bold;
  background-color: #DBBBF5;
}

option{
  font-weight: bold;
}

.iniciarBusqueda{
  padding:8px;
  transition: box-shadow 1s;
  background-color: #DBBBF5;
  border:none;
}

.iniciarBusqueda:hover{
  box-shadow: 0px 0px 5px #DBBBF5,
  0px 0px 10px #DBBBF5,
  0px 0px 20px #DBBBF5;
}

@keyframes mover-colores{
  0%{
    background-position: 0% 50%;
  }
  100%{
    background-position: 50% 100%;
  }
}

@media screen and (max-width:800px){
  .tareas{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contenedorPadreTotal{
    grid-template-columns: 1fr;
    order:10;
  }
  
  .btn-delete{
    padding: 0px;
  }

  .contadorTareasPendientes{
    order:2;
  }

  .titulo_tareas{
    order:1;
  }

  .buscador{
    order:3;
  }

  .contenedorPadreTotal, .titulo_tareas, .buscador{
    margin:20px 0px;
  }
}

/* Contenedor de cada tarea */

.item_tarea{
  border:1px solid gray;
  border-radius:4px;
  padding:8px;
  gap:8px;
  display: grid;
  grid-template-rows: 10% 65% 15%;
  background-color: #8A20D0;
  box-sizing: border-box;
}

.contenedores{
  width: 100%;
}

.nota{
  width: 100%;
  box-sizing: border-box;
  background-color: #DDF0FF;
  color:black;
  border-radius: 4px;
  outline: none;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.29);
  padding:3px;
}

.text1{
  height: 100%;
  overflow-y: scroll;
}

.btn_options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding:18px; */
}

.btn-delete{
  padding:6px;
  width: 40%;
  height: 100%;
  border-radius: 2px;
  background-color: #AFAFDC;
  border:none;
  transition: box-shadow 1s;
  box-shadow: 0px 0px 5px #AFAFDC;
}

.btn-delete:hover{
  box-shadow: 0px 0px 5px #AFAFDC,
  0px 0px 10px #AFAFDC,
  0px 0px 15px #AFAFDC;
}

.check1{
  color: white;
  display: flex;
  align-items: center;
  justify-content:space-around;
  font-size: 12px;
  height: 100%;
  width: 36%;
  padding: 6px;
  border-radius: 2px;
  background-color: #AFAFDC;
  color:black;
}

/* Complemento: Funcionalidad filtro */

.desaparecer{
  display:none;
}